Core/Sources/ThirdParty/CSQLiteBundled/sqlite3.c linguist-vendored
Core/Sources/ThirdParty/CSQLiteBundled/include/sqlite3.h linguist-vendored
Core/Sources/ThirdParty/CMiniz/miniz.c linguist-vendored
Core/Sources/ThirdParty/CMiniz/include/miniz.h linguist-vendored
Core/ThirdParty/Yomitan/** linguist-vendored
Core/Sources/TsubameCore/Resources/JapaneseDeinflectionRules.json linguist-generated
Core/Tests/TsubameCoreTests/Resources/YomitanJapaneseDeinflectionFixtures.json linguist-generated
